In [37]:
!pip install sqlite3

ERROR: Could not find a version that satisfies the requirement sqlite3 (from versions: none)
ERROR: No matching distribution found for sqlite3

In [30]:
import sqlite3

In [38]:
con = sqlite3.connect('INSTRUCTOR.db')

In [39]:
cursor_obj = con.cursor()

In [40]:
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

OperationalError: database is locked

In [35]:
table = """CREATE TABLE IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""

cursor_obj.execute(table)

print("Table is Ready")

Table is Ready

In [36]:
cursor_obj.execute("""INSERT INTO INSTRUCTOR VALUES(1,'Rav','Ahuja','TORONTO','CA'),(2, 'Raul', 'Chong', 'Markham', 'CA'),(3, 'Hima', 'Vasudevan', 'Chicago', 'US')""")

OperationalError: database is locked

In [20]:
# First bring your cursor to select all with execute
statement = """SELECT * FROM INSTRUCTOR"""
cursor_obj.execute(statement)

#Fetch all data from table to show
print("All the data")
output_all = cursor_obj.fetchall()
for row_all in output_all:
    print(row_all)

All the data

In [22]:
## Fetch few rows from the table
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
# If you want to fetch few rows from the table we use fetchmany(numberofrows) and mention the number how many rows you want to fetch
output_many = cursor_obj.fetchmany(2) 
for row_many in output_many:
  print(row_many)

All the data

In [23]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output_column = cursor_obj.fetchall()
for fetch in output_column:
  print(fetch)

All the data

In [24]:
query_update='''update INSTRUCTOR set CITY='MOOSETOWN' where FNAME="Rav"'''
cursor_obj.execute(query_update)

OperationalError: database is locked

In [25]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
  
print("All the data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
  print(row)

All the data

In [26]:
import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from instructor;", conn)

#print the dataframe
df

Empty DataFrame
Columns: [ID, FNAME, LNAME, CITY, CCODE]
Index: []

In [27]:
#print just the LNAME for first row in the pandas data frame
df.LNAME[0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [28]:
df.shape

(0, 5)

In [29]:
# Close the connection
conn.close()